@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* 공통 css 설정 */
@layer base {
  body {
    font-family: "Noto Sans KR",
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      "Apple SD Gothic Neo",
      "Malgun Gothic",
      sans-serif;
  }
}
